<%- include("partials/header") -%>

<section id="home" class="colored">
  <img class="logoEdge" src="images/kaylalogogreen.png" aria-hidden />
  <img class="logoEdgeRight" src="images/kaylalogogreen.png" aria-hidden />
  <!-- <div class="placeholder"></div> -->
  <div class="container-fluid">
    <img id="main" src="images/kklogolarge.png" />
    <h1>Artfully Capturing Memories</h1>
    <div class="bio">
    	<p><%= pageCopy.description %></p>
      <p>Let's connect and create some magic!</p>
    </div>
    <div class="call-action">
    	<h4>Contact Me</h4>
      <a target="_blank" href="https://www.facebook.com/kayla.kossajda">
      	<i class="media fab fa-facebook-f fa-2x"></i>
      </a>
      <a target="_blank" href="https://www.instagram.com/kaylakossart/">
        <i class="media fab fa-instagram fa-2x"></i>
      </a>
      <a href="mailto:kkossajda@gmail.com">
      	<i class="media fas fa-envelope fa-2x"></i>
      </a>
    </div>
  </div>
</section>

<%- include("partials/carousel") -%>

<%- include("partials/info") -%>

<%- include("partials/footer") -%>
