<%- include("partials/header") -%>

<section class="thumbnail-section">
  <div class="container-fluid content">
    <% Object.entries(artCategory).forEach(([subCategory, artwork]) => { %>
      <h2><%= subCategory %></h2>
      <div class="thumbnail-container scrollbar scrollbar-deep-blue">
        <ul class="thumbnail-list">
    	  <% artwork.forEach((art) => { %>
            <a href=<%= "/" + category + "/" + subCategory + "/" + art._id %>>
              <img 
              	id=<%= art.title %>
              	class="thumbnail-image"
              	src="<%= art.thumbnail %>"
              	alt="<%= art.title %>"
              />
            </a>
    	  <% }) %>
      	</ul>
      </div>
    <% }) %>
  </div>
</section>

<%- include("partials/footer") -%>
